[submodule "damsel"]
	path = damsel
	url = https://github.com/valitydev/damsel.git
	branch = IMP-278/fx/retire-payouts
[submodule "lib/observer_cli"]
	path = lib/observer_cli
	url = https://github.com/zhongwencool/observer_cli
	branch = master
[submodule "machinegun-proto"]
	path = machinegun-proto
	url = https://github.com/valitydev/machinegun-proto.git
[submodule "cds-proto"]
	path = cds-proto
	url = https://github.com/valitydev/cds-proto.git
	branch = master
[submodule "bender-proto"]
	path = bender-proto
	url = https://github.com/valitydev/bender-proto.git
[submodule "binbase-proto"]
	path = binbase-proto
	url = https://github.com/valitydev/binbase-proto.git
[submodule "limiter-proto"]
	path = limiter-proto
	url = https://github.com/valitydev/limiter-proto.git
[submodule "fistful-proto"]
	path = fistful-proto
	url = https://github.com/valitydev/fistful-proto.git
[submodule "msgpack-proto"]
	path = msgpack-proto
	url = https://github.com/valitydev/msgpack-proto.git
[submodule "webhook-dispatcher-proto"]
	path = webhook-dispatcher-proto
	url = https://github.com/valitydev/webhook-dispatcher-proto.git
